<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Solar System</title>
    <!--gets bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--links css -->
    <link rel="stylesheet" href="/css/styles.css"/>
    <!--planet icon next to name on website tab-->
    <link rel="shortcut icon" type="image/png" href="/img/planetIcon.png">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:700i&display=swap" rel="stylesheet">
    </head>
  <body>
  <!--<p>Click on a planet to know more about it:</p>-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      </form>
        <ul class="nav navbar-nav navbar-right">
          <a class="nav-link" href="/ ">Home <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="/mercury">Mercury <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="/venus">Venus <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="/earth">Earth <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="/source">Source <span class="sr-only">(current)</span></a>
        </ul>
      </form>
    </div>
  </nav>
  <br>