<%- include("partials/header.ejs") %>
        <h1>Sources for planet information!</h1>
        <h3><a href="https://solarsystem.nasa.gov/planets/mercury/overview/" target="_blank">Mercury</a></h3><br>
        <h3><a href="https://solarsystem.nasa.gov/planets/venus/overview/" target="_blank">Venus</a></h3><br>
        <h3><a href="https://solarsystem.nasa.gov/planets/earth/overview/" target="_blank">Earth</a></h3><br>
        <img src="/img/solar_system.jpg" alt="The Solar System"/>
<%- include("partials/footer.ejs") %>
